body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    width: 100%;
    margin: 0; /* Ensure no margin from the container */
    padding: 0; /* Ensure no padding from the container */
}

.intro-text, .conclusion-text {
    margin: 20px;
    text-align: center;
}

.tabs {
    margin: 20px;
    text-align: center;
}

.tabs label {
    margin-right: 15px; 
    cursor: pointer;
}

#map {
    width: 100%; /* Make map width 100% of its container */
    height: 650px;
    border: none; /* Remove any borders to ensure full width */
}


.intro-text {
    font-family: 'IBM Plex Sans', sans-serif; /* Apply IBM Plex Sans font */
    font-weight: 500; /* Set font weight to light (300) */
    display: flex;                  /* Enables flexbox */
    flex-direction: column;         /* Stacks children vertically */
    justify-content: center;        /* Centers content vertically (optional) */
    align-items: center;            /* Centers content horizontally */
    width: 33.33%;                  /* 1/3rd of the screen width */
    margin: 0 auto;                 /* Centers the container horizontally */
    text-align: left;             /* Centers text inside the container */
    line-height: 1.5;
  }



h1 {
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
    font-weight: 700;

}